In [1]:
import sys

In [2]:
sys.version

'3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]'

파이썬 자료형

마크다운셀

In [3]:
type(3.6)

float

In [4]:
print(10*7)

70

In [5]:
print('hi, everyone!')

hi, everyone!

In [6]:
a= 2023
print(a)

2023

In [7]:
b='여러분'
print(b+' 안녕하세요')

여러분 안녕하세요

표준입력

In [8]:
name=input('이름 입력 > ')

이름 입력 > sf

In [9]:
name

'sf'

In [10]:
name=input('이름을 입력하세요 > ')
print(name+ '님, 안녕하세요!')

이름을 입력하세요 > esdtg
esdtg님, 안녕하세요!

In [11]:
birth=input('출생 연도를 입력하세요 > ')
print(2023-int(birth), '세이시군요!')

출생 연도를 입력하세요 > 2004
19 세이시군요!

In [12]:
name=input('이름을 입력하세요: ')
birth=input('출생 연도를 입력하세요: ')
age=2023-int(birth)
print('안녕하세요! '+name +'님! '+ str(age)+'세이시군요!')

이름을 입력하세요: rdhzf
출생 연도를 입력하세요: 2004
안녕하세요! rdhzf님! 19세이시군요!

## 내장 함수

In [13]:
abs(-4)

4

In [15]:
bool('py')

True

# 반복문

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [18]:
for i in range(1, 11, 3):
    print(i)

1
4
7
10

In [21]:
for i in (10, 20, 30):
    print(i)

10
20
30

In [22]:
for i in {10, 20, 30}:
    print(i)

10
20
30

In [23]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [24]:
for i in {10: '십', 20: '이십', 30: '삼십'}:
    print(i)

10
20
30

In [25]:
data={10: '십', 20: '이십', 30: '삼십'}
for i in data:
    print(data[i])

십
이십
삼십

In [26]:
data[10]

'십'

In [27]:
import random
dice=random.randint(1, 6)
print(dice)

1

In [29]:
import math
print(math.sqrt(2))
print(math.sqrt(4))

1.4142135623730951
2.0

In [30]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [31]:
test_score=[80, 70, 90, 100]
for score in test_score:
    print(score)

80
70
90
100

In [32]:
test_name=['국어', '영어', '수학', '과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [33]:
if (10>0):
    print('안녕하세요!')

안녕하세요!

In [34]:
password=input('패스워드를 입력하세요: ')
if (int(password) == 12345):
    print('로그인 되었습니다.')
elif (int(password) == 11111):
    print('관리자 권한입니다.')
else:
    print('로그인에 실패하였습니다.')

패스워드를 입력하세요: 11111
관리자 권한입니다.

In [36]:
arr1=[1, 2, 3, 4, 5]
print(type(arr1))

<class 'list'>

In [37]:
arr2=['월', '화', '수', '목', '금']
print(type(arr2))

<class 'list'>

In [38]:
arr3=[1, 2, 3, 4, 5, '월', '화', '수', '목', '금']
print(type(arr3))

<class 'list'>

In [39]:
arr2=['월', '화', '수', '목', '금', '토', '일']
print(arr2)

['월', '화', '수', '목', '금', '토', '일']

In [41]:
arr2=['월', '화', '수', '목', '금', '토']
print(arr2[0])
print(arr2[1])
print(arr2[2])
print(arr2[3])
print(arr2[4])
print(arr2[5])

월
화
수
목
금
토

In [42]:
arr2=['월', '화', '수', '목', '금', '토']
print(arr2[-1])
print(arr2[-2])
print(arr2[-3])
print(arr2[-4])
print(arr2[-5])
print(arr2[-6])

토
금
목
수
화
월

In [43]:
arr2=['월', '화', '수', '목', '금', '토']
print(arr2[0:2])
print(arr2[1:4])
print(arr2[1:])
print(arr2[:3])
print(arr2[:])

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토']
['월', '화', '수']
['월', '화', '수', '목', '금', '토']

In [45]:
arr1=[1, 2, 3, 4, 5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [46]:
arr2=['월', '화', '수', '목', '금']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금']
5
['월', '화', '수', '목', '금', '일']
6